<!-- includes -->
<%- include("includes/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-4">
                <h2 class="text-center">Contact list <b>JS</b></h2>
                <p class="text-center lead">seus contatos em JS ;)</p>
                <div class="resonsive-table">
                    <table class="table my-3">
                        <header>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Tipo</th>
                        </header>
                        <body>
                            <tr>
                                <td>fulano de tal</td>
                                <td>fulanodetal@gmail.com</td>
                                <td>+55 (ddd) 9 9999-9999</td>
                                <td>Celular</td>
                            </tr>
                        </body>
                    </table> 
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <!-- includes -->
<%- include("includes/footer.ejs") %>